body {
  background-color: #23252c;
  font-size: 62.5%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body p {
  font-weight: 300;
}

.profile-photo {
  width: 15rem;
}

.email-button {
  background-color: #e8e8e8;
  display: flex;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
}

.email-button p {
  padding: 0;
  margin: 0;
  margin-left: 0.3rem;
  color: #000;
}

.linkedin-button {
  background-color: #4b87ce;
  display: flex;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
}

.linkedin-button p {
  margin: 0;
  padding: 0;
  color: #fff;
  margin-left: 0.3rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.card-container {
  max-width: 15rem;
  background-color: #1a1b21;
  border-radius: 1rem;
  color: #fff;
}

.info-container {
  padding: 1rem;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161619;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer-container img {
  margin-right: 1rem;
}

.profile-name,
.profile-stat,
.profile-web {
  text-align: center;
}

.profile-stat {
  color: #f3bf99;
  font-weight: 400;
}
